<footer class="footer">
    <div class="footer-links">
        <a href="/legal-notices">Mentions légales</a>
        <hr>
        <a href="#">Contactez nous</a>
    </div>

    <span class="footer-copyright">&copy; 2026 C'Stage</span>
</footer>