<footer class="footer">
    <div class="footer-links">
        <a href="/mentions-legales">Mentions légales</a>
        <hr>
        <a href="/contact">Contactez nous</a>
    </div>

    <span class="footer-copyright">&copy; 2026 C'Stage</span>
</footer>