<header class="navbar">
    <div class="logo">
        <a href="/accueil">C'Stage</a>
    </div>

    <div class="burger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="nav-links">
        <a href="/offres">Offres</a>
        <a href="/entreprises">Entreprises</a>
        {% if user and user.user_type == 'student' %}
            <a href="/candidatures">Mes Candidatures</a>
            <a href="/wishlist">Ma Wishlist</a>
        {% endif %}

        {% if not user %}
            <a href="/connexion">Se connecter</a>
        {% else %}
            <a href="/logout">Se déconnecter</a>
        {% endif %}
    </div>
</header>