:root {
    --background: #f1f1f1;

    --item-font: #1f7a98;
    --item-font-light: rgb(214, 214, 214);

    --primary: #19586D;
    --primary-dark: #114252;
    --text: #fff;
    --text-grey: #6f6f6f;
    --text-red: #ff4d4d;

    --border: rgb(173, 173, 173);
}

/* Background */
.bg-white {
    background-color: white;
}

/* Text */
.text-primary {
    color: var(--primary);
}

.error {
    color: var(--text-red);
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.small-text {
    color: var(--text-grey);
    font-size: 0.8rem;
    margin-top: auto;
}

/* Font Sizes */
.fs-1-4 {
    font-size: 1.4rem;
}

/* Margin & Padding */
.mt-05 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.p-2 {
    padding: 2rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* With & Height */
.w-full {
    width: 100%;
}

.min-width-0 {
    min-width: 0;
}

.min-height-0 {
    min-height: 0;
}

.max-width-900 {
    max-width: 900px;
}

.h-full {
    height: 100%;
}

/* Border */
.card {
    border-radius: 6px;
    border: 1px solid var(--border);
}

/* Flexbox */
.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-left {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 1rem;
}

.gap-1-5 {
    gap: 1.5rem;
}

.gap-2 {
    gap: 2rem;
}

.rounded {
    border-radius: 6px;
}

/* Overflow */
.overflow-hidden {
    overflow: hidden;
}

/* Shadows */
.shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Buttons & Badges */
.btn-primary {
    padding: 0.5rem 2rem;
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--primary);
    border: none;
    color: var(--text);
    font-weight: bold;
    transition: 0.4s;
    text-align: center;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.badge {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--text);
    font-size: 0.8rem;
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

/* Media Queries */
@media (min-width: 768px) {
    .tab-flex-row {
        flex-direction: row;
    }

    .tab-flex-col {
        flex-direction: column;
    }

    .tab-align-center {
        align-items: center;
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: 1.8rem;
    }

    input {
        font-size: 1rem;
    }

    .text-primary {
        font-size: 1.2rem;
    }

    .small-text {
        font-size: 1rem;
    }
}