{% extends 'layout.html.twig' %}

{% block main %}
<main>
    <!-- Section: recherche rapide d'offres -->
    <section class="fast-search-section">
        <h2>Offres du site</h2>
        <form method="GET" action="/offres">
            <div class="input-field">
                <input type="text" name="keyword" class="input" 
                    placeholder="Cybersécurité / Administrateur réseaux / BTP"
                    value="{{ app.request.get('keyword') }}">
                <button type="submit" class="btn-primary">Rechercher</button>
            </div>

            <div class="filters flex-row gap-1 justify-center flex-wrap">
                <select name="duration" class="input">
                    <option value="">Durée</option>
                    <option value="4">4 semaines</option>
                    <option value="6">6 semaines</option>
                    <option value="12">12 semaines</option>
                </select>

                <select name="salary" class="input">
                    <option value="">Salaire</option>
                    <option value="0">Non rémunéré</option>
                    <option value="500">500€+</option>
                    <option value="1000">1000€+</option>
                </select>

                <select name="skill" class="input">
                    <option value="">Compétences</option>
                    <option value="php">PHP</option>
                    <option value="python">Python</option>
                    <option value="javascript">JavaScript</option>
                </select>

                <select name="level" class="input">
                    <option value="">Niveau d'étude</option>
                    <option value="bac2">Bac+2</option>
                    <option value="bac3">Bac+3</option>
                    <option value="bac5">Bac+5</option>
                </select>
            </div>
        </form>
    </section>


    <section class="flex-col align-center gap-1 p-2 bg-white">
        <h2>Les 3 offres récentes</h2>

        <div class="offer-list flex-col gap-1">
            {% for offer in lastOffers %}
                {% include 'components/offer.html.twig' with {
                    'id': offer.id_offer,
                    'title': offer.title,
                    'society': offer.company,
                    'skills': offer.skills,
                    'duration': offer.duration_weeks
                } %}

                {% else %}
                    <p>Aucune offre dispo pour le moment.</p>
            {% endfor %}
        </div>
    </section>

    <section class="flex-col align-center justify-center gap-1 p-2 w-full">
        <h2>Quelques statistiques</h2>    

        <div class="flex-col gap-1 tab-flex-row">
            <div class="statistic-item">
                <i class="fa-solid fa-building"></i>
                <div class="statistic-item-data">
                    <span class="text-primary bold">450+</span>
                    <span class="small-text">Entreprises</span>
                </div>
            </div>

            <div class="statistic-item">
                <i class="fa-brands fa-buffer"></i>
                <div class="statistic-item-data">
                    <span class="text-primary bold">1,200+</span>
                    <span class="small-text">Offres disponibles</span>
                </div>
            </div>

            <div class="statistic-item">
                <i class="fa-solid fa-user-graduate"></i>
                <div class="statistic-item-data">
                    <span class="text-primary bold">5,900+</span>
                    <span class="small-text">Étudiants</span>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}