{% extends 'layout.html.twig' %}

{% block main %}
<main>
    <!-- Section: recherche rapide d'offres -->
    <section class="flex-col align-center gap-1 py-2"
        <h2>Offres du site</h2>
        {% include 'components/search-offer.html.twig' %}
    </section>


    <section class="flex-col align-center gap-1 p-2 bg-white">
        <h2>Les 3 offres récentes</h2>

        <div class="offer-list flex-col gap-1">
            {% for offer in lastOffers %}
                {% include 'components/offer.html.twig' with {
                    'id': offer.id_offer,
                    'title': offer.title,
                    'society': offer.company,
                    'skills': offer.skills,
                    'duration': offer.duration_weeks
                } %}

                {% else %}
                    <p>Aucune offre dispo pour le moment.</p>
            {% endfor %}
        </div>
    </section>

    <section class="flex-col align-center justify-center gap-1 p-2 w-full">
        <h2>Quelques statistiques</h2>    

        <div class="flex-col gap-1 tab-flex-row">
            <div class="statistic-item">
                <i class="fa-solid fa-building"></i>
                <div class="statistic-item-data">
                    <span class="text-primary bold">{{ stats.total_companies }}</span>
                    <span class="small-text">Entreprises</span>
                </div>
            </div>

            <div class="statistic-item">
                <i class="fa-brands fa-buffer"></i>
                <div class="statistic-item-data">
                    <span class="text-primary bold">{{ stats.total_offers }}</span>
                    <span class="small-text">Offres disponibles</span>
                </div>
            </div>

            <div class="statistic-item">
                <i class="fa-solid fa-user-graduate"></i>
                <div class="statistic-item-data">
                    <span class="text-primary bold">{{ stats.total_students }}</span>
                    <span class="small-text">Étudiants</span>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}