<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CStage{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/cstage-framework.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {# Navbar #}
    {% include 'includes/navbar.html.twig' %}

    {# Main #}
    {% block main %}{% endblock %}

    {# Footer #}
    {% include 'includes/footer.html.twig' %}

    {# Scripts #}
    <script src="/assets/js/index.js"></script>
    <script src="https://kit.fontawesome.com/c470132ce8.js" crossorigin="anonymous"></script>
</body>

</html>