{% extends 'layout.html.twig' %}

{% block main %}
<main class="legal-notices p-2 gap-1">
    <h1 class="underline">Mentions légales</h1>

    <h3>Éditeur du site</h3>
    <ul class="pl-2">
        <li>Nom : CStage</li>
        <li>Statut : Particulier</li>
        <li>Adresse : 9 Av. de la Forêt de Haye - Bâtiment Orion</li>
        <li>Email : contact@cstage.fr</li>
        <br>
        <li>Directeur de publication : CStage</li>
    </ul>

    <hr>

    <h3>Hébergeur</h3>
    <ul class="pl-2">
        <li>CESI</li>
        <li>19 Av. de la Forêt de Haye - Bâtiment Orion</li>
        <li>54500 Vandoeuvre-les-Nancy - France</li>
        <li>Téléphone : 03 83 22 27 99</li>
        <li>Site : https://nancy.cesi.fr</li>
    </ul>

    <hr>

    <h3>Propriété intellectuelle</h3>
    <p class="text-justify">L’ensemble du contenu présent sur ce site (textes, images, logos, code, etc.)
        est protégé par le droit d’auteur. Toute reproduction ou utilisation sans
        autorisation est interdite.</p>

    <hr>

    <h3>Données personnelles</h3>
    <p class="text-justify">Les informations transmises via le site, notamment les CV, sont utilisées
        uniquement dans le cadre de la mise en relation pour des stages.
        <br><br>
        Les données ne sont pas revendues à des tiers.
        <br><br>
        Conformément au Règlement Général sur la Protection des Données (RGPD),
        les utilisateurs disposent d’un droit d’accès, de rectification et de suppression
        de leurs données en contactant : contact@monsite.fr</p>

    <hr>

    <h3>Responsabilité</h3>
    <p class="text-justify">L’éditeur du site ne peut être tenu responsable des erreurs ou omissions
        présentes sur le site, ni de l’utilisation qui pourrait être faite des informations
        diffusées.</p>

    <hr>

    <h3>Cookies</h3>
    <p class="text-justify">Le site peut utiliser des cookies pour améliorer l’expérience utilisateur.
        L’utilisateur peut configurer son navigateur pour refuser les cookies.</p>

</main>
{% endblock %}